<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" href="./styles/styles.css">
    </head>
    <body>
      <div class="main-content">
         {{>header}}
        <h1>{{description}}</h1>
       </div>
        {{>footer}}
    </body>
</html>