<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" href="./styles/styles.css">

    </head>
    <body>
      <div class="main-content">
         {{>header}}
        <h1>{{description}}</h1>
        <form>
            <input type="text" >
            <button type="submit">Search</button>
        </form>
        <textarea></textarea>
       </div>
        {{>footer}}
    </body>
    <script src="./js/app.js"></script>
</html>